*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(wheat,#555);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    height: 100%;
    width: 100%;
    background: burlywood;
    position: absolute;
    clip-path: circle(40% at right 70%);
    z-index: -1;
}
.logo{
    height: 80%;
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.a{
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
li{
    display: inline;
    margin: 0 6px;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color: rgb(216, 147, 20);
    text-decoration: double rgb(216, 147, 20) underline;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.text{
    color: white;
    width: 40%;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.img{
    width: 40%;
}
img{
    width: 700px;
}
@media (min-width:725px) and (max-width:804px) {
    p{
        font-size: 14px;
    }
}
@media (min-width:500px) and (max-width:783px) {
    p{
        font-size: 8px;
        letter-spacing: 0;
    }
}
@media (min-width:500px) and (max-width:783px) {
    nav{
        flex-direction: column;
        justify-content: center;
    }
}
@media (min-width:500px) and (max-width:700px) {
    body:after{
        clip-path: circle(40% at bottom );
    }
}
@media (min-width:0px) and (max-width:499px) {
    p{
        font-size: 8px;
        letter-spacing: 0;
        margin: 0;
    }
    nav{
        flex-direction: column;
        justify-content: center;
    }
    h2{
        font-size: 30px;
    }
    .text{
        position: relative;
        bottom: 20px;
    }
}
@media (min-width:0px) and (max-width:439px){
    img{
        overflow: scroll;
    }
}
@media (min-width:281px) and (max-width:364px) {
    .text{
        bottom: 50px;
    }
    h2{
        font-size: 20px;
    }
}
@media (min-width:259px) and (max-width:280px) {
    h2{
        font-size: 15px;
    }
    .text{
        bottom: 70px;
    }
}
@media (min-width:0px) and (max-width:258px) {
    h2{
        font-size: 15px;
    }
    .text{
        bottom: 0px;
    }
    .logo{
        overflow: scroll;
    }
}
@media (min-width:0px) and (max-width:251px) {
    .text{
        top: 100px;
    }
}